body {
  background-color: rgba(181,13,26,255)
}

p {
  font-family: 'Qwitcher Grypen';
  color: gold;
  font-size: 100px;
}

.title {
  text-align: center;
}

.container {
  width: 750px;
  height: 750px;
  display: grid;
}

#color-picker {
  border: none;
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50px;
}